# ==========================
# .NET
# ==========================

bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# User secrets
appsettings.Development.json

# ==========================
# React / Vite
# ==========================

node_modules/
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
*.env
*.env.local

# ==========================
# VS Code
# ==========================

.vscode/*
!.vscode/extensions.json

# ==========================
# IDEs
# ==========================

.idea/

# ==========================
# OS files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Misc
# ==========================

*.local
*.ntvs*
*.njsproj
*.sln
*.sw?